auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  wal:
    dir: "/tmp/wal"
  chunk_idle_period: 1h       # Bất kỳ chunk nào không nhận được nhật ký mới trong thời gian này sẽ bị xóa
  max_chunk_age: 1h           # Tất cả các chunk sẽ bị xóa khi đạt đến độ tuổi này, mặc định là 1h
  chunk_target_size: 1048576  # Loki sẽ cố gắng xây dựng các chunk có kích thước lên tới 1,5 MB, xóa trước nếu đạt chunk_idle_ Period hoặc max_chunk_age trước
  chunk_retain_period: 30s    # Phải lớn hơn bộ đệm đọc chỉ mục TTL nếu sử dụng bộ đệm chỉ mục (Bộ đệm đọc chỉ mục mặc định TTL là 5m)
  max_transfer_retries: 0     # Chuyển đoạn bị vô hiệu hóa

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /tmp/loki/boltdb-shipper-active
    cache_location: /tmp/loki/boltdb-shipper-cache
    cache_ttl: 24h         # Có thể tăng lên để có hiệu suất nhanh hơn trong thời gian truy vấn dài hơn, sử dụng nhiều dung lượng ổ đĩa hơn
    shared_store: filesystem
  filesystem:
    directory: /tmp/loki/chunks

compactor:
  working_directory: /tmp/loki/boltdb-shipper-compactor
  shared_store: filesystem

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h

chunk_store_config:
  max_look_back_period: 0s

table_manager:
  retention_deletes_enabled: false
  retention_period: 0s

ruler:
  storage:
    type: local
    local:
      directory: /etc/loki/rulestorage
  rule_path: /etc/loki/rules
  alertmanager_url: http://10.0.0.232:9093
  ring:
    kvstore:
      store: inmemory
  enable_api: true
  enable_alertmanager_v2: true